.nav-wallet-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100vw;

  .nav-wallet {
    background-color: black;
    border-radius: 10px;
    width: 300px;
  }
}

.metamask-logo {
  width: 40px;
}
